<div class="row ">
    <div class="col-sm-12">
        <img src="{{recipeDetails.imagePath}}" alt="{{recipeDetails.name}}" class="image-responsive"
            style="max-height: 280px;">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1><strong>Recipe Name:</strong> {{recipeDetails.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div appDropdown class="btn-group">
            <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a class="pointer" (click)="onAddToShoppingList()">Add to shopping list</a>
                </li>
                <li>
                    <a class="pointer" (click)="onEditRecipe()">Edit Recipe</a>
                </li>
                <li>
                    <a class="pointer" (click)="onDeleteRecipe()">Delete Recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Description: {{recipeDetails.description}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient  of recipeDetails.ingredients">
                {{ingredient.name }} -- {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>