<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success" (click)="addNewRecipe()">Add New Recipe</button>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12" style="margin-top: 5px;">
        <app-recipe-item *ngFor="let recipe of recipes; let i=index" [index]="i"
            [recipeItem]="recipe"></app-recipe-item>
    </div>
    <div *ngIf="recipes.length<1" class="col-sm-12" style="margin-top: 5px;">
        <h5>No recipe available</h5>
    </div>
</div>